<%= form_tag packets_path, method: :get, role: 'form', class: 'form-horizontal' do %>
  <div class="row">
    <fieldset class="col-md-3">
      <legend>Packet Type</legend>

      <div class="form-group">
        <div class="radio col-md-6">
          <label>
            <%= radio_button_tag :exi, :send, params[:exi] == 'send' %>
            Send
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <%= radio_button_tag :exi, :receive, params[:receive] == 'receive' %>
            Receive
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="row">
    <% [%w(send setting), %w(send message), %w(receive status)].each do |exi, type| %>
        <fieldset class="col-md-4">
          <legend><%= type.capitalize %></legend>
          <% PacketDescription.lookup(exi, type).each do |column| %>
            <div class="form-group">
              <%= label_tag column, column, class: 'control-label col-md-7' %>
              <div class="input-group col-md-4">
                <div class="input-group-addon">0x</div>
                <%= text_field_tag column, params[column], class: 'form-control' %>
              </div>
            </div>
          <% end %>
        </fieldset>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= submit_tag 'Submit', class: 'btn btn-primary' %>
      <%= link_to 'Clear', packets_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<div class="row">
  <ul>
    <% @packets.each do |packet| %>
        <li>
          <span><%= packet.time %></span>
        </li>
    <% end %>
  </ul>
</div>
